


.flag {
  width: 400px;
  height: 200px;
  border: 1px solid black;
}

.flag .blue {
  width: 100%;
  height: 50%;
  background-color: #0047AB;
}

.flag .yellow {
  width: 100%;
  height: 50%;
  background-color: #F7DC6F;
}
